<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628887551787-n7qimtfc3cdli73ps77rtimrv5j7q7ua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628887551787-n7qimtfc3cdli73ps77rtimrv5j7q7ua</string>
	<key>API_KEY</key>
	<string>AIzaSyC14PkXJSspdCAougATlCthNB2y5iEO3C4</string>
	<key>GCM_SENDER_ID</key>
	<string>628887551787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.migsD.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-fd3bf</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-fd3bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628887551787:ios:aba4efb407e2ad7643cf6e</string>
</dict>
</plist>